body {
	padding-top: 10px;
	 background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url(../img/photo-1.jpg);
  background-size: 100%;
  background-position: 0% -750px;
  min-height: 100vh;
}

a,
i {
	font-weight: bold;
	color: #fff !important;
	text-shadow: -3px 3px 0px #23274a;
}

header {
	height: 150px;
}

.container {
	transition: 0.5s;
}

.logo {
	text-align: center;
	font-size: 40px;
}

.inpText {
	font-size: 20px;
	height: 35px;
	width: 98.2%;
}
input::-webkit-input-placeholder { color: #23274a; }

.inpSubm {
	float: right;
	height: 35px;
}

.pLogo {
	font-size: 20px;
	color: #fff!important;
	text-shadow: -3px 3px 0px #23274a;
}

.thead {
	color: #fff !important;
	text-shadow: -3px 3px 0px #23274a;
	font-size: 17px;
	border-top: 2px #dddddd solid;
	border-bottom: 2px #dddddd solid;
}

.tbody {
	z-index: 100;
	transition: 0.5s;
	font-size: 17px;
	color: #fff !important;
	text-shadow: -3px 3px 0px #23274a;
}

.col-left {
	float: right !important;
}

tr {
	border-bottom: 2px #dddddd solid;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	border-bottom: 0px #dddddd solid !important;
	border-top: 0px #dddddd solid !important;
}

.td {
	transition: 0.5s;
}

.doneTask {
	transition: 0.2s;
	text-decoration: line-through;
	text-shadow: none;
	font-weight: bold;
}


.date {
	color: #f1e4fe !important;
	text-align: center;
	font-size: 17px;
	margin-top: 20px;
}

.date > input {
	color: grey !important;
}

::selection {
	background: transparent;
}

::-moz-selection {
	background: transparent;
}

.col-lg-1, .col-xl-1, .col-md-1, .col-sm-1 {
height: 0px;
}

svg {
	margin-top: 20.4px;
	height: 92px;
  max-width: 230px;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: -2;
  -webkit-filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.3));
}
svg path {
  cursor: pointer;
  -webkit-animation: blob 2s infinite forwards;
          animation: blob 2s infinite forwards;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
svg path:hover {
  fill: #fafafa;
}
svg text {
	font-weight: bold;
  font-size: 50px;
}

@-webkit-keyframes blob {
  25% {
    d: path("M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 ");
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    d: path("M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210");
  }
  75% {
    d: path("M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210");
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes blob {
  25% {
    d: path("M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 ");
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    d: path("M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210");
  }
  75% {
    d: path("M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210");
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@media (orientation: portrait) { 
  body {
	padding-top: 10px;
	 background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url(../img/photo-1.jpg);
  background-size: contain;
  background-position: 47% 0px;
  min-height: 100vh;
}
	.row {
		
		position: relative;
		-webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
}  